.col{
    min-height: 100vh;
}
@font-face {
    font-family: jura;
    src: url('../fonts/Jura-DemiBold.ttf');
}
h3{
    font-family: jura;
    font-size:18px;
}
.tache{
    width:95%;
    min-height:80px;
}
.header.colonne a,.header.colonne h3{
    display: inline-block;
    width: 50%;
}
select{
    display: block;
}
.card {
    font-family:jura;
}
.card .card-title {
    font-size:1em;
    line-height: 1em !important;
}
.card p {
    font-size: 0.7em;
}
div.button-collapse {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 10;
    right:10px;
    top:10px;
}
#jours,#heures,#minutes {
    display: inline-block;
    width:20%;
}
.card.draggable .card-action {
    padding: 5px;
}
.card.draggable .card-action i {
    cursor: pointer;
}