<ul id='drop_projets' class='dropdown-content'>
    {% for projet in projets %}
        <li class="valign-wrapper">
            <a href="{{ projet.id }}">{{ projet.nom }}</a>
        </li>
    {% endfor %}
</ul>