<div class="row">
    <div class="col s12 m3 l3 droppable">
        <div class="header colonne">
            <button class="btn-floating waves-effect orange darken-2" id="add-task"><i class="material-icons small library_add">add</i></button>
            <h3>Taches</h3>
        </div>
        {% for tache in taches %}
            <div class="card draggable">
                <div class="card-content">
                    <span class="card-title">{{ tache.nom }}</span>
                    <p class="truncate">{{ tache.description }}</p>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="col s12 m3 l3 droppable">
        <div class="header colonne">
            <h3>Taches en cours</h3>
        </div>
    </div>
    <div class="col s12 m3 l3 droppable">
        <div class="header colonne">
            <h3>Taches terminé</h3>
        </div>
    </div>
    <div class="col s12 m3 l3 droppable">
        <div class="header colonne">
            <h3>Taches en attente</h3>
        </div>
    </div>
</div>