<div class="row">
    <div class="col s12 m3 l3 droppable no">
        <div class="header colonne">
            <button class="btn-floating waves-effect orange darken-2" id="add-task"><i class="material-icons small library_add">add</i></button>
            <h3>Taches</h3>
        </div>

        <div class="card orange lighten-4 draggable">
            <div class="card-content white-text">
                <span class="card-title">Card Title</span>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>

    </div>
    <div class="col s12 m3 l3 droppable yes">
        <div class="header colonne">
            <h3>Taches en cours</h3>
        </div>
    </div>
    <div class="col s12 m3 l3 droppable yes">
        <div class="header colonne">
            <h3>Taches terminé</h3>
        </div>
    </div>
    <div class="col s12 m3 l3 droppable yes">
        <div class="header colonne">
            <h3>Taches en attente</h3>
        </div>
    </div>
</div>