<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    {% stylesheets 'bundles/todo/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    {% block header %}
        {% include "TodoBundle:Home:header.html.twig" %}
    {% endblock header %}

    {% block flashMessages %}
        {% if app.session.flashBag.has('success') %}
            <div id="alert" class="z-depth-1 card-panel light-green">
                <i class="fa fa-close"></i>
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% elseif app.session.flashBag.has('error') %}
            <div id="alert" class="z-depth-1 card-panel red accent-1">
                <i class="fa fa-close"></i>
                {% for msg in app.session.flashBag.get('error') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    {% endblock flashMessages %}

    {% block content %}
        {% include "TodoBundle::colonnes.html.twig" %}
    {% endblock content %}

    <footer>
        {% block footer %}

        {% endblock footer %}
    </footer>

    {% block modals %}{% endblock modals %}
</body>

    {% block variables %}
        {% include "TodoBundle:Tache:vars_js.html.twig" %}
    {% endblock variables %}
    {% javascripts
        '@TodoBundle/Resources/public/js/jquery-3.1.0.min.js'
        '@TodoBundle/Resources/public/js/jquery-ui.min.js'
        '@TodoBundle/Resources/public/js/jquery-clockpicker.min.js'
        '@TodoBundle/Resources/public/js/deplace_task.js'
        '@TodoBundle/Resources/public/js/colonne.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    {% block javascripts %}{% endblock javascripts %}


</html>